
<div id="all_items">
    <ul class="product_list">
        <% @bakery.each do |key, value| %>
            <% value.each do |key2, value2| %>
                <li class="product">
                    <img class="product_image" src=" <%=  value2.image_link  %> "/>
                    <div class="product_text">
                        <h3 class="product_name"> <%=  value2.name  %> </h3>
                        <p class="product_description"> <%=  value2.description  %> </p>
                        <p class="product_price"><span> <%=  value2.price  %> </span></p>
                        <p class="product_link"> <a href="/ <%=  value2.name.split(' ').join  %>" >add to bag</a></p>
                    </div>
                </li>
            <% end %>
        <% end %>
    </ul>
</div>

