
<div id="cookies">
    <ul class="product_list">
        <% @bakery[:cookies].each do |key, value| %>
            <li class="product">
                <img class="product_image" src=" <%=  value.image_link  %> "/>
                <div class="product_text">
                    <h3 class="product_name"> <%=  value.name  %> </h3>
                    <p class="product_description"> <%=  value.description  %> </p>
                    <p class="product_price"><span> <%=  value.price  %> </span></p>
                    <p class="product_link"> <a href="/ <%=  value.name.split(' ').join  %>" >add to bag</a></p>
                </div>
            </li>
        <% end %>
    </ul>
</div>


